{% extends 'registration/base.html' %}

{% block content %}
<form method="post">{% csrf_token %}
    <h3>Change password</h3>
    {% if form.errors %}
        <p class="errornote">
           {% if form.errors.items|length == 1 %}
               Please correct the error below.
           {% else %}
               Please correct the errors below.
           {% endif %}
        </p>
    {% endif %}


    <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
<div class="form-group">
    {{ form.old_password.errors }}
    <input id="id_old_password" name="old_password" type="password" placeholder="Old password" class="form-control" required>
</div>

<div class="form-group">
    {{ form.new_password1.errors }}
    <input id="id_new_password1" name="new_password1" type="password" placeholder="New password" class="form-control" required>

    {% if form.new_password1.help_text %}
        <div class="help">{{ form.new_password1.help_text|safe }}</div>
    {% endif %}
</div>
<div class="form-group">
    {{ form.new_password2.errors }}
    <input id="id_new_password2" name="new_password2" type="password" placeholder="Confirm new password" class="form-control" required>
    {% if form.new_password2.help_text %}
        <div class="help">{{ form.new_password2.help_text|safe }}</div>
    {% endif %}
</div>
    <button type="submit" class="btn btn-primary">Change password</button>

</form>
{% endblock %}

