<h4>
    {{label}}
</h4>
<p>
    {{description}}
</p>
<table id="chooser-table-{{id}}" class="custom-table"
    {% if choose_multiple %}
    multiple-select-enabled
    {% endif %}
    dataTarget="{{name}}"
>
    <thead>
        <tr>
            <th>
                {% if choose_multiple %}
                <input 
                    class="select-all-cbx" 
                    table-target="chooser-table-{{id}}" 
                    type="checkbox"/>
                {% endif %}

            </th>
            <th>Filename</th>
            <th>File size</th>
        </tr>
        <tr>
            <th></th>
            <th><input id="file-choose-filter" class="filename-filter" placeholder="Filter files..."/></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% raw %}
        {% for resource in user_resources %}
        <tr>
            <td>
                <input class="download-selector" type="checkbox" target="{{resource.id}}"/>
            </td>
            <td class="filename-field">
                {{resource.name}}
            </td>
            <td>
                {{resource.human_readable_size}}
            </td>
        </tr>
        {% endfor %}
        {% endraw %}
    </tbody>
</table>

<script>
$(".select-all-cbx").click(function(){
    var targetedTable = $(this).attr("table-target");
    var inputs = $("#" + targetedTable).find("input");

    if ($(this).prop("checked") == true){
        $(inputs).each(function(number, el){
            if ($(el).is(":visible")){
                $(el).prop("checked", true);
            }
        });
    }else{
        $(inputs).each(function(number, el){
            $(el).prop("checked", false);
        });                }

});


var all_resources = $(".filename-field");
$("#file-choose-filter").keyup(function(e){
     var target = e.target;
     var filter_val = target.value;
     for(var i=0; i < all_resources.length; i++){
         var r = all_resources[i];
         var filename = r.textContent;
         var n = filename.search(filter_val);
         if (n == -1){
             $(r).parent("tr").hide();
         } else {
             $(r).parent("tr").show();
         }
     }
 });
</script>
