{% raw %}
{% extends 'base.html' %}
{% load static %}
{% endraw %}

{% raw %}
{% block page_specific_css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{form_css}}"></script>
{% endblock %}
{% endraw %}

{% raw %}
{% block content%}
{% endraw %}

<div class="analysis-form">
        <h3>
        {% raw %}
            {{workflow_title}}
        {% endraw %}
        </h3>
        <p>
        {% raw %}
            {{workflow_long_description}}
        {% endraw %}
        </p>
        <form id="analysis-creation-form" action={% raw %}"{{submit_url}}" {% endraw %}>
		{% raw %}
		{% csrf_token %}
		{% endraw %}

		<!-- Form elements are inserted here -->
		{% for element in form_elements %}
			{{element}}
		{% endfor %}
		<button id="submit-form" class="btn btn-primary">Analyze</button>			
        </form>
</div>
{% raw %}
{% endblock %}
{% endraw %}

{% raw %}
{% block page_specific_js %}
    <script type="text/javascript" src="{{form_javascript}}"></script>
{% endblock %}
{% endraw %}
