<div class="form-group">
    <h4><label for="select-{{id}}">{{label}}</label></h4>
    <select 
            class="form-control" 
            id="select-{{id}}" 
            name="{{name}}" 
            required 
            dataTarget="{{name}}"
            {% if choose_multiple %}
                multiple
            {% endif %}
            input_select
        >
        {% for d in choices %}
          <option value="{{d.value}}">{{d.display}}</option>
        {% endfor %}
    </select>
</div>
