{% extends 'base.html' %}

{% block page_specific_css %}
<style>
    .pad-top-bottom-20{
        padding-top:20px;
        padding-bottom:20px;
    }

</style>
{% endblock %}



{% block content%}
<div class="pad-top-bottom-20">
    <h2>Apply available constraints on project:</h2>
    <p>Note that this will remove any existing constraints on this project!</p>
    <form id="constraint-form"  method="POST">
    {% csrf_token %}
    {% for f in forms %}
        <div class="form-group">
        {{f.label}}         
        {{f}}
        </div>
    {% endfor %}
    <input type="submit" value="Apply constraints and email client">
    <div class="form-group">
    <p>Or</p>    
    <input type="submit" id="only-email" value="No constraints- just email client">
    </div>
    </form>
<div>
{% endblock %}

{% block page_specific_js %}
<script>
  $(document).ready(function() {
    // add some styling to the dynamic form since it's not very straightforward in the backend
    $("#constraint-form input").addClass("form-control");
    $("#constraint-form input[type='submit']").addClass("btn btn-primary");
  });
</script>
{% endblock %}

