{% extends 'base.html' %}

{% block page_specific_css %}
<style>
.pad-top-bottom-20{
    padding-top:20px;
    padding-bottom:20px;
}
</style>
{% endblock %}



{% block content%}
    <div class="pad-top-bottom-20">
        <form method="POST">
        <select name="user">
            {% for user in users %}
                <option value="{{user.pk}}">{{user.email}}</option>
            {% endfor %}
        </select>
        <select id="workflow-select" name="workflow">
            {% for wf in workflows %}
                <option value="{{wf.pk}}">{{wf.workflow_name}} (version ID: {{wf.version_id}})</option>
            {% endfor %}
        </select>
        <input type="submit" value="Next">
        </form>
    </div>
{% endblock %}

