{% extends 'base.html' %}



{% block page_specific_css %}
<style>
.pad-20{
    padding:20px;
}
</style>
{% endblock %}



{% block content%}
<div class="pad-20">
  <div>
    <h3>
      An error occurred during execution of the analysis.  
    </h3>
  </div>
  <p>The pipeline produced the following error message(s), which might help in resolving the problem.  If the problem is not clear or if you cannot resolve the problem, please contact an administrator.</p>
  {% for error in errors %}
    <p class="alert alert-danger">{{error.error_text}}</p>
  {% endfor %}
  <div>
    <button id="restart-button" class="btn btn-secondary">Try again </button>
  </div>
</div>
{% endblock %}


{% block page_specific_js %}
<script>
    var url = "{{restart_url}}";

    $("#restart-button").click(function(e){
         window.location = url;
    });
</script>
{% endblock %}
