
{% extends 'base.html' %}
{% load static %}



{% block page_specific_css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{form_css}}"></script>
{% endblock %}



{% block content%}


<div class="analysis-form">
        <h3>
        
            {{workflow_title}}
        
        </h3>
        <p>
        
            {{workflow_long_description}}
        
        </p>
        <div id="analysis-creation-form" submit_url="{{submit_url}}" >
		
		{% csrf_token %}
		

		<!-- Form elements are inserted here -->
		
			<div class="form-group">
    <h4><label for="0">Text entry:</label></h4>
    <p>
        Just enter some text
    </p>
    <input type="text" 
        class="form-control" 
        name="Main.z" 
        id="text-0"  
        placeholder=""
        maxlength="1000" 
        minlength="0" 
        dataTarget="Main.z"
        input_textbox
    >
</div>
		
			<div class="form-group">
    <h4><label for="1">More text entry:</label></h4>
    <p>
        Just enter some more text.  This text will be capitalized.
    </p>
    <input type="text" 
        class="form-control" 
        name="other_input" 
        id="text-1"  
        placeholder=""
        maxlength="1000" 
        minlength="0" 
        dataTarget="other_input"
        input_textbox
    >
</div>
		
		<button id="submit-form" class="btn btn-primary">Analyze</button>			
        </div>
</div>

{% endblock %}



{% block page_specific_js %}
    <script type="text/javascript" src="{{form_javascript}}"></script>
{% endblock %}
