<!DOCTYPE html>
{% load static %}
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        	<title>File Transfer</title>
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        	<link rel="stylesheet" href="{%static "transfer_app/css/style.css" %}">
	</head>
	<body>
        {% block content %}
        {% endblock %}
        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
	    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	    crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="434yn436p3z4rg0"></script>
        <script type="text/javascript" src="{% static "base/js/base.js" %}"></script>
        <script type="text/javascript" src="{% static "transfer_app/js/index.js" %}"></script>
        <script type="text/javascript" src="https://apis.google.com/js/api.js"></script>

    </body>
</html>
