<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>CNAP</title>
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" href="{%static "base/css/style.css" %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
        <div id="wrapper">
            <div id="logout-div">
                <div id="logout-text">
                    Logout
                </div>
                <div id="svg-wrapper-logout">
                    <svg width="100%" height="100%" class="octicon octicon-logout" viewBox="0 0 16 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M11.992 8.994V6.996H7.995v-2h3.997V2.999l3.998 2.998-3.998 2.998zm-1.998 2.998H5.996V2.998L2 1h7.995v2.998h1V1c0-.55-.45-.999-1-.999H.999A1.001 1.001 0 0 0 0 1v11.372c0 .39.22.73.55.91L5.996 16v-3.008h3.998c.55 0 1-.45 1-1V7.995h-1v3.997z" style="fill:#646464;"></path></svg>
                </div>

            </div>
            <div id="main-container" class="main-container">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div id="error-dialog">
            <p>There was a problem!  Please correct or address the following:</p>
            <div id="error-dialog-list"></div>
            <div id="close-error-dialog">
                <div>Close</div>
            </div>
        </div>

        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
        </script>
        <script type="text/javascript" src="{% static "base/js/base.js" %}"></script>
        {% block page_specific_js %}
        {% endblock %}
        <script type="text/javascript" src="https://apis.google.com/js/api.js"></script>

    </body>
</html>
