* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    color:rgb(80,80,80);
}

li{
    list-style: none;
}

p {
    margin-top:10px;
    margin-bottom: 10px;
}

a{
    color:rgb(80,80,80);
}

#wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#logout-div{
    width:95%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-top:30px;
}

#logout-rhs-wrapper{
    display: flex;
    align-items: flex-end;
}

#logout-text{
    display:flex;
    align-items: center;
}

#current-files-refresh {
    cursor: pointer;
    text-decoration: underline;
}

#logout-text{
    display:flex;
    align-items: center;
}

.blur {
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        filter: blur(3px);
}

#close-error-dialog, #close-general-dialog{
    display:flex;
    justify-content:center;
    text-decoration: underline;
    cursor:pointer;
}

.dialog-content{
   display: flex;
   justify-content:center;
   margin-bottom:30px;
}

#error-dialog, #general-dialog, #confirmation-dialog{
    display:none;
    width: 500px;
    background: #fff;
    padding: 25px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -100px;
    display: none;
    position:absolute;
}

#confirmation-dialog-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#svg-wrapper-logout{
    width:40px;
    margin-left:10px;
    cursor:pointer;
}

.subcontent{
    display: none;
}

.active{
    display: inherit;
}

#current-files-tree-wrapper{
    margin-top:20px;
}

.providers-wrapper{
    margin-top:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-title{
    margin-top: 15px;
    margin-bottom: 15px;
}

.custom-table{
    margin-top:20px;
    margin-bottom: 20px;
    width:100%;
    border-collapse: collapse;
    border-spacing: 0;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);

}
.custom-table thead th{
    border: 0;
    background-color: rgb(140,140,140);
    color:white;
    text-align: left;
}

.custom-table thead th:first-child{
    border-radius: 10px 0 0 0;
    padding-left: 10px;
}

.custom-table thead th:last-child{
    border-radius: 0 10px 0 0;
}

.custom-table tbody tr:last-child td:last-child{
    border-radius: 0 0 10px 0;
	}

.custom-table tr{
    height: 50px;
}

.custom-table td:first-child{
    padding-left:10px;
}

.detail-loader{
    text-decoration: underline;
    cursor:pointer;
}

#refresh-history{
    margin-top:15px;
    text-decoration: underline;
    cursor:pointer;
}

#back-to-history{
    cursor:pointer;
}

.provider-btn{
    cursor: pointer;
    width:60%;
    max-width: 250px;
    height:auto;
    margin-top:10px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 3px 5px 0px rgb(150,150,150);
}

#main-container{
    z-index: 10;
    background-color: #ffffff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border:1px solid #ddd;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
    margin-top:5px;
    margin-bottom:20px;

    /*padding-bottom:20px;*/
    
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 95%;
}

.selected{
    background-color: white;
    border-right: 1px solid rgb(220,220,220);
    border-left: 1px solid rgb(220,220,220);
    border-bottom:0px;
    border-top:3px solid #00bf00;
}

#identity{
    display:flex;
    justify-content: flex-end;
    margin-bottom:20px;
}

.login-status{
    background-color: rgb(240,240,240);
    padding:10px;
    color:rgb(80,80,80);
    border-radius:10px;
}

#menu{
    display: flex;
    flex-direction: row;
    width:100%;
    /*border-bottom:1px solid rgb(240,240,240);*/
        background-color: rgb(240,240,240);
}

#content{
    margin-top:20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:20px;
    width:100%
}

#menu-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    margin-bottom: 0px;
}

.section-chooser{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height:100%;
    width:100px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    align-items: center
}

.svg-wrapper{
    border:0px solid red;
    width:60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-tab{
    border-left: 0px;
}

.last-tab{
    border-right: 0px;
}

.alert{
    padding: 0.75em 1.25em;
    border-radius: 5px;
}

.alert-success{
    color: #155724;
    border-color: c3e6cb;
    background-color: #d4edda;
}

.alert-danger{
    color: #721c24;
    border-color: red;
    background-color: #f8d7da;
}

/* For extra styling on the tree used to display resources */
.search-result {
    margin-top:5px;
    margin-bottom:5px;
    padding: 3px;
    border-radius: 15px;
}

.select-highlighted-container{
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
}
.select-highlighted-checkbox{
    margin-left: 5px;
}

.tree-filter{
   cursor: pointer;
}

.treeview .list-group-item:last-child{
    margin-bottom:5px;
    border-radius:15px;
}
/* END for extra styling on the tree used to display resources */

#group-rhs-controls {
    display: flex;
    flex-direction: column;
}

#delete-files-wrapper, #rename-files-wrapper{
    display:flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-bottom: 15px;
}

.file-rename {
    margin-top: 15px;    
}

/* For large screens */
@media (min-width: 767.98px) {
    #main-container{
        flex-direction: row;
        justify-content: center;
        align-items:flex-start;
    }
    
    #content{
        
    }
    
    #menu{
        flex-direction: column;
        width:20%;
        height: 100%;
        justify-content: flex-start
            
    }
    
    #menu-list{
        flex-direction: column;
        align-items: center;
        margin-bottom:0px;
    }
    
    .section-chooser{
        height:100px;
        width:100%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    
    .svg-wrapper{
        height:50%;
    }
    .selected{
        background-color: white;
        border-top: 1px solid rgb(220,220,220);
        border-bottom: 1px solid rgb(220,220,220);
        border-left:10px solid #00bf00;
        border-right:0px;
    }
    
    .first-tab{
        border-top: 0px !important;
    }

    .last-tab{
        border-bottom: 0px !important;
    }  
    
    .providers-wrapper{
        flex-direction: row;
        justify-content: center;
    }
    
    .provider-btn{
        margin-right:20px;
    }
}

@media (min-width: 991.98px) {
    #main-container{
        width: 990px;
    }

    #logout-div{
        width: 990px;
    }
}

